:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;

  --nav-bar-height: 3rem;
  --nav-bar-safe-area-height: calc(var(--nav-bar-height) + 8px);

  --side-bar-width: 12rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.miko-body {
  display: flex;
  gap: 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: var(--nav-bar-safe-area-height) 0.5rem 0 0.5rem;
}

.miko-nav-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  color: red;
  height: var(--nav-bar-height);
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.miko-nav-bar .links-group {
  display: flex;
  gap: 1.2rem;
  color: green;
}

.miko-side-bar {
  position: sticky;
  width: var(--side-bar-width);
  top: var(--nav-bar-safe-area-height);
  align-self: flex-start;
}

.miko-article {
  flex: 1;
  color: blue;
  max-width: 48rem;
  margin: 0 auto;
}