@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  html {
    touch-action: manipulation;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: style weight;
    overflow-wrap: break-word;
    word-break: break-word;

    /* For Chrome 121+ */
    text-wrap: pretty;
  }

  /* Disable ligatures in code blocks */
  code, kbd, pre, samp {
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: var(--spacing-nav-bar-safe-area-height);
}

body {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --color-primary: #1c6586;
    --color-on-primary: #ffffff;
    --color-primary-container: #c4e7ff;
    --color-on-primary-container: #001e2c;

    --color-secondary: #4e616d;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #d1e5f4;
    --color-on-secondary-container: #0a1e28;

    --color-tertiary: #605a7d;
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #e6deff;
    --color-on-tertiary-container: #1c1736;

    --color-error: #ba1a1a;
    --color-on-error: #ffffff;
    --color-error-container: #ffdad6;
    --color-on-error-container: #410002;

    --color-surface: #f7f9fc;
    --color-on-surface: #181c1f;
    --color-surface-dim: #d8dadd;
    --color-surface-bright: #f7f9fc;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f1f4f7;
    --color-surface-container: #ebedf1;
    --color-surface-container-high: #e5e8eb;
    --color-surface-container-highest: #dfe3e7;
    --color-on-surface-variant: #41484d;
    --color-outline: #71787d;
    --color-outline-variant: #c0c7cd;
    --color-inverse-surface: #2c3134;
    --color-inverse-on-surface: #f7f9fc;
    --color-inverse-primary: #8fcef3;

    --color-pink: #844a82;
    --color-on-pink: #ffffff;
    --color-pink-container: #ffd6f9;
    --color-on-pink-container: #36063a;

    --color-green: #3f6932;
    --color-on-green: #ffffff;
    --color-green-container: #c2efae;
    --color-on-green-container: #072100;

    --color-gold: #6a5e00;
    --color-on-gold: #ffffff;
    --color-gold-container: #fae287;
    --color-on-gold-container: #211c00;

    --color-cyan: #006a62;
    --color-on-cyan: #ffffff;
    --color-cyan-container: #9df2e7;
    --color-on-cyan-container: #00201d;

    --color-amber: #8e4e20;
    --color-on-amber: #ffffff;
    --color-amber-container: #ffdbc7;
    --color-on-amber-container: #2e1500;
  }

  .dark {
    --color-primary: #8fcef3;
    --color-on-primary: #003549;
    --color-primary-container: #004c69;
    --color-on-primary-container: #c4e7ff;

    --color-secondary: #b5c9d7;
    --color-on-secondary: #20333e;
    --color-secondary-container: #374955;
    --color-on-secondary-container: #d1e5f4;

    --color-tertiary: #cac1e9;
    --color-on-tertiary: #322c4c;
    --color-tertiary-container: #484264;
    --color-on-tertiary-container: #e6deff;

    --color-error: #ffb4ab;
    --color-on-error: #690005;
    --color-error-container: #93000a;
    --color-on-error-container: #ffdad6;

    --color-surface: #0f1417;
    --color-on-surface: #dfe3e7;
    --color-surface-dim: #0f1417;
    --color-surface-bright: #353a3d;
    --color-surface-container-lowest: #0a0f12;
    --color-surface-container-low: #181c1f;
    --color-surface-container: #1c2023;
    --color-surface-container-high: #262b2e;
    --color-surface-container-highest: #313539;
    --color-on-surface-variant: #c0c7cd;
    --color-outline: #8b9297;
    --color-outline-variant: #41484d;
    --color-inverse-surface: #dfe3e7;
    --color-inverse-on-surface: #2c3134;
    --color-inverse-primary: #1c6586;

    --color-pink: #eeb4e9;
    --color-on-pink: #4a204b;
    --color-pink-container: #643663;
    --color-on-pink-container: #ffd6f9;

    --color-green: #a7d394;
    --color-on-green: #13380a;
    --color-green-container: #2a4f1f;
    --color-on-green-container: #c2efae;

    --color-gold: #ddc66e;
    --color-on-gold: #3a3000;
    --color-gold-container: #544600;
    --color-on-gold-container: #fae287;

    --color-cyan: #81d5cb;
    --color-on-cyan: #003733;
    --color-cyan-container: #00504a;
    --color-on-cyan-container: #9df2e7;

    --color-amber: #ffb688;
    --color-on-amber: #512400;
    --color-amber-container: #6e380f;
    --color-on-amber-container: #ffdbc7;
  }
}


@theme {
  /* Material colors */
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-primary-container: var(--color-primary-container);
  --color-on-primary-container: var(--color-on-primary-container);
  --color-secondary: var(--color-secondary);
  --color-on-secondary: var(--color-on-secondary);
  --color-secondary-container: var(--color-secondary-container);
  --color-on-secondary-container: var(--color-on-secondary-container);
  --color-tertiary: var(--color-tertiary);
  --color-on-tertiary: var(--color-on-tertiary);
  --color-tertiary-container: var(--color-tertiary-container);
  --color-on-tertiary-container: var(--color-on-tertiary-container);
  --color-error: var(--color-error);
  --color-on-error: var(--color-on-error);
  --color-error-container: var(--color-error-container);
  --color-on-error-container: var(--color-on-error-container);
  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);
  --color-surface-dim: var(--color-surface-dim);
  --color-surface-bright: var(--color-surface-bright);
  --color-surface-container-lowest: var(--color-surface-container-lowest);
  --color-surface-container-low: var(--color-surface-container-low);
  --color-surface-container: var(--color-surface-container);
  --color-surface-container-high: var(--color-surface-container-high);
  --color-surface-container-highest: var(--color-surface-container-highest);
  --color-on-surface-variant: var(--color-on-surface-variant);
  --color-outline: var(--color-outline);
  --color-outline-variant: var(--color-outline-variant);
  --color-inverse-surface: var(--color-inverse-surface);
  --color-inverse-on-surface: var(--color-inverse-on-surface);
  --color-inverse-primary: var(--color-inverse-primary);
  --color-pink: var(--color-pink);
  --color-on-pink: var(--color-on-pink);
  --color-pink-container: var(--color-pink-container);
  --color-on-pink-container: var(--color-on-pink-container);
  --color-green: var(--color-green);
  --color-on-green: var(--color-on-green);
  --color-green-container: var(--color-green-container);
  --color-on-green-container: var(--color-on-green-container);
  --color-gold: var(--color-gold);
  --color-on-gold: var(--color-on-gold);
  --color-gold-container: var(--color-gold-container);
  --color-on-gold-container: var(--color-on-gold-container);
  --color-cyan: var(--color-cyan);
  --color-on-cyan: var(--color-on-cyan);
  --color-cyan-container: var(--color-cyan-container);
  --color-on-cyan-container: var(--color-on-cyan-container);
  --color-amber: var(--color-amber);
  --color-on-amber: var(--color-on-amber);
  --color-amber-container: var(--color-amber-container);
  --color-on-amber-container: var(--color-on-amber-container);

  /* Global */
  --spacing-max-width-content: 48rem;
  --spacing-max-width-page: 80rem;
  --spacing-nav-bar-height: 3rem;
  --spacing-nav-bar-safe-area-height: calc(var(--spacing-nav-bar-height) + 8px);
  --spacing-side-bar-width: 12rem;

  /* Article */
  --spacing-article-codeblock-padding: 4rem;
  --spacing-article-paragraph: 1rem;
}
