@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

@layer base {
  html {
    touch-action: manipulation;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: style weight;
    overflow-wrap: break-word;
    word-break: break-word;

    /* For Chrome 121+ */
    text-wrap: pretty;
  }

  /* Disable ligatures in code blocks */
  code, kbd, pre, samp {
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: var(--spacing-nav-bar-safe-area-height);
}

body {
  margin: 0;
  padding: 0;
}

@theme {
  /* Global material colors */
  --color-primary: #8fcef3;
  --color-on-primay: #003549;
  --color-secondary: #b5c9d7;
  --color-on-secondary: #20333e;
  --color-tertiary: #cac1e9;
  --color-on-tertiary: #322c4c;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-primary-container: #004c69;
  --color-on-primary-container: #c4e7ff;
  --color-secondary-container: #374955;
  --color-on-secondary-container: #d1e5f4;
  --color-tertiary-container: #484264;
  --color-on-tertiary-container: #e6deff;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-surface-dim: #0f1417;
  --color-surface: #0f1417;
  --color-surface-bright: #353a3d;
  --color-surface-container-lowest: #0a0f12;
  --color-surface-container-low: #181c1f;
  --color-surface-container: #1c2023;
  --color-surface-container-high: #262b2e;
  --color-surface-container-highest: #313539;
  --color-on-surface: #dfe3e7;
  --color-on-surface-variant: #c0c7cd;
  --color-outline: #8b9297;
  --color-outline-variant: #41484d;
  --color-inverse-surface: #dfe3e7;
  --color-inverse-on-surface: #2c3134;
  --color-inverse-primary: #1c6586;
  --color-pink: #eeb4e9;
  --color-on-pink: #4a204b;
  --color-pink-container: #643663;
  --color-on-pink-container: #ffd6f9;
  --color-green: #a7d394;
  --color-on-green: #13380a;
  --color-green-container: #2a4f1f;
  --color-on-green-container: #c2efae;
  --color-gold: #ddc66e;
  --color-on-gold: #3a3000;
  --color-gold-container: #544600;
  --color-on-gold-container: #fae287;
  --color-cyan: #81d5cb;
  --color-on-cyan: #003733;
  --color-cyan-container: #00504a;
  --color-on-cyan-container: #9df2e7;
  --color-amber: #ffb688;
  --color-on-amber: #512400;
  --color-amber-container: #6e380f;
  --color-on-amber-container: #ffdbc7;

  /* Global */
  --spacing-max-width-content: 48rem;
  --spacing-max-width-page: 80rem;
  --spacing-nav-bar-height: 3rem;
  --spacing-nav-bar-safe-area-height: calc(var(--spacing-nav-bar-height) + 8px);
  --spacing-side-bar-width: 12rem;

  /* Article */
  --color-article-code-bg: var(--color-secondary-container); /* bg-gray-600 */
  --spacing-article-codeblock-padding: 4rem;
  --spacing-article-paragraph: 1rem;
}
